{% extends "network/layout.html" %}

{% block body %}
    <div class=profileheader>
        {% if profile.profilepictureurl %}
            <img class="profilepic" src="{{ profile.profilepictureurl }}">
        {% endif %}
        <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
        {% if followcount == 1 %}
            <div class="followcount"><p class="countnumber">{{ followcount }}</p><p> follower ~~ | ~~ following {{ followeecount }}</p></div>
        {% else %}
            <div class="followcount"><p class="countnumber">{{ followcount }}</p><p> followers ~~ | ~~ following {{ followeecount }}</p></div>
        {% endif %}
        {% if not request.user.id == profile.id %}
            {% if followstatus %}
                <button type="submit" id="followbutton" data-followee="{{profile.id}}" onclick=togglefollow()>Following</button>
            {% else %}
                <button type="submit" id="followbutton" data-followee="{{profile.id}}" onclick=togglefollow()>Follow</button>
            {% endif %}
        {% endif %}
    </div>
    
    
    <div id="posts">    
        <!--populated by JS with call to API-->
    </div>

    <div id="postnewedit">
        <!--hidden div that contains appears from floor of screen allowing new post or edit of existing post-->
    </div> 

    {%csrf_token%}

{% endblock %}